{% include 'navigation.html' %}
<body>
{% if request.user.is_authenticated %}
<a href="{% url 'create_thread' %}">Create Thread</a>
{% endif %}
{% block content %}
{% endblock %}
    <section class="section">
        <div class="container">
        {% for thread in threads %}
            <div class="thread block">
            <h2 class="title">{{ thread.thread_title }}</h2>
            <small>Posted at {{ thread.date }}</small>
            <p>{{ thread.thread_text }}</p>
            {#<a href="{% url 'thread_details' thread.slug %}">View Thread</a>#}
            </div>
        {% endfor %}
        </div>
    </section>
</body>