{% include 'navigation.html' %}
<head>
    <style>
        section {
            padding: 20px;
            margin-left: 5px;
        }
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
{% if request.user.is_authenticated %}
    <section>
        <h1>Dashboard</h1>
        <a href="{% url 'create_thread' %}" class="btn btn-warning">Create Thread</a>
    </section>
{% endif %}
{% block content %}
{% endblock %}
{% if 'create' not in request.path  %}
    {% if threads %}
        <section class="section">
            <div class="container">
            {% for thread in threads %}
                <div>
                    <div class="card">
                        <div class="thread block">
                            <h2 class="title">{{ thread.thread_title }}</h2>
                            <small class="text-muted">Posted at {{ thread.date }}</small>
                            <p>{{ thread.thread_text }}</p>
                        <a href="{% url 'thread_details' pk=thread.pk %}" class="btn btn-warning">View Thread</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
    {% else %}
        <h1>No threads yet!</h1>
    {% endif %}
{% endif %}
</body>